/*--------------------------------------------------
GÉNÉRIQUE
----------------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*--------------------------------------------------
ÉLÉMENTS
----------------------------------------------------*/

body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.25rem;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-size: 6rem;
  color: white;
  letter-spacing: 32.56px;
  line-height: 60px;
  margin: 0;
}

q {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 3rem;
  letter-spacing: 2.64px;
  padding-top: 10px;
  padding-bottom: 0px;
}

a {
  text-decoration: none;
}

h2 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  color: black;
  font-weight: 400;
}

/*-------------------------------------------------
COMPONENTS
----------------------------------------------------*/

/*wrapper*/

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

/*header*/

.header {
  background-color: #34495e;
  margin: 0;
  padding-top: 69px;
  padding-bottom: 69px;
  text-align: center;
}

/*hero*/
.hero {
  padding-top: 71px;
}

.hero .wrapper {
  display: flex;
  flex-direction: column;
}
.hero h1 {
  align-self: flex-start;
}
.hero p {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 3rem;
  letter-spacing: 2.64px;
  line-height: 60px;
  padding-top: 10px;
  align-self: flex-end;
  padding-right: 60px;
}

/*regles*/

article:hover {
  background-color: #bdc3c7;
}

article {
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: center;
  height: 230px;
  width: 1100px;
}

.gauche {
    justify-content: flex-start;
    padding-left: 50px;
}

.droite{
    justify-content: flex-end;
    padding-right: 50px;
}

.regles p {
  border: 5px solid #d35400;
  width: 210px;
  height: 210px;
  border-radius: 100%;
  color: #d35400;
  font-size: 1.875rem;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*info*/
.info .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.info p {
    line-height: 40px;
}